# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
*.egg

# Jupyter
.ipynb_checkpoints/

# Entornos virtuales
venv/
.venv/
env/

# OS
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/

# Proyecto 2: copia local de PLUTO y casos no usados
proyecto2/PLUTO/
proyecto2/Whistler_Waves/
